<div class="ekart--header">
  <div class="ekart-logo">
    <!-- <img src="" alt="" class=""> -->
    Ekart
  </div>
  <div class="ekart--header--nav">
    <!-- Top Menu -->
    <top-menu></top-menu>
    <div class="ekart--bottom--bar">
      <!-- Main Menu -->
      <main-menu></main-menu>
    </div>
    <!-- <div>
      <button (click)="onButtonClick(!display)">Click Here</button>
      <div [hidden]="display">                                    
        <p>{{ course }} displaying {{ company }}</p>
      </div>
    </div> -->
  </div>
</div>
